@import "./../../styles/variables.scss";

.inclusive_elastic_decentralised_swiper_card {
  width: 204px;
  border-radius: $card-border-radius;
  border: 1px solid $contributor-img-bg-color;
  overflow: hidden;

  .logo_wrapper {
    display: flex;
    align-items: center;
    height: 98px;
    border-bottom: 1px solid $contributor-img-bg-color;

    &.withPaddings {
      padding: 0 24px;
    }

    .gradientSpotsWrapper_gradientWrapper > div {
      display: flex;
      align-items: center;
      padding: 0 24px;
    }

    svg {
      fill: $main-white-color;
    }
  }

  .data_wrapper {
    padding: 24px;

    .data {
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      .title {
        line-height: 24px;
        margin-bottom: 4px;
        color: $main-gray-text-color;
        font-family: "Inter-400", sans-serif;
      }

      .value {
        position: relative;
        display: block;
        width: fit-content;
        color: $main-white-color;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        text-decoration: none;

        .kWh_ptx {
          display: block;
          font-size: 16px;
          line-height: 20px;
        }

        .arrow_link {
          display: none;
        }

        .value_with_arrow {
          display: inline-block;
          position: relative;
        }

        .value_with_arrow > .mobile_arrow_link,
        .arrow_link {
          width: 11px;
          position: absolute;
          right: -17.5px;
          top: 6.5px;

          path {
            stroke: $main-white-color;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    .logo_wrapper {
      height: 100px;

      &.withPaddings,
      .gradientSpotsWrapper_gradientWrapper > div {
        padding: 0 40px;
      }
    }

    .data_wrapper {
      padding: 40px;

      .data {
        &:not(:last-child) {
          margin-bottom: 40px;
        }

        .value {
          display: flex;
          align-items: flex-end;

          br {
            display: none;
          }

          .mobile_arrow_link {
            display: none;
          }

          &:hover {
            border-bottom: 2px solid $main-white-color;

            .arrow_link {
              display: block;
            }
          }

          .kWh_ptx {
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    width: 402px;
  }
}
