@import "./../../styles/variables.scss";

$hide-buttons-breakpoint: $value_partner_card-tablet-breakpoint +
  $swiper-card-additional-width-to-hide-buttons;

.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  .swiper_slide {
    display: flex;
    width: fit-content;
  }

  .swiper_buttons {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  @media (min-width: $hide-buttons-breakpoint) {
    .swiper_buttons {
      display: none;
    }
  }
}
