@import "./../../styles/variables.scss";

$desktop_indent-to-header: 72px;
$mobile_indent-to-header: 44px;

$main_desktop-padding-top: $header-desktop-height + $desktop_indent-to-header;
$main_mobile-padding-top: $header-mobile-height + $mobile_indent-to-header;

.layout {
  margin: auto;
  max-width: $page-max-width;
  background-color: $main-white-color;

  main {
    padding: $main_desktop-padding-top 0 150px 0;

    // todo remove when the situation with breakpoints is clarified
    @media (max-width: calc($content-max-width + 30px)) {
      padding: $main_desktop-padding-top 24px 150px 24px;
    }

    @media (max-width: $tablet-size) {
      padding: $main_mobile-padding-top 24px 90px 24px;
    }
  }
}
