@import "./../../styles/variables.scss";

$mobile_margin: 16px;
$tablet_margin: 24px;
$desktop_margin: 80px;
$desktop_max_margin: 120px;

.layout {
  margin: auto;
  max-width: $desktop-max-size;
  background-color: $main-white-color;

  main {
    padding: 116px 0 80px;
    & > * {
      margin-left: $mobile_margin;
      margin-right: $mobile_margin;

      @media (min-width: $tablet-size) {
        margin-left: $tablet_margin;
        margin-right: $tablet_margin;
      }

      @media (min-width: $desktop-size) {
        margin-left: $desktop_margin;
        margin-right: $desktop_margin;
      }

      @media (min-width: $desktop-max-size) {
        margin-left: $desktop_max_margin;
        margin-right: $desktop_max_margin;
      }
    }
  }
}
