@import "./../../styles/variables.scss";

.subscribe_to_our_newsletter_block {
  border-radius: $card-border-radius;
  background-color: $main-white-color;
  padding: 0 16px 48px;
  margin: 97px 0 80px;

  .content_wrapper {
    max-width: 216px;
    margin: auto;

    .body {
      .title {
        text-align: center;
      }

      .form {
        display: flex;
        flex-direction: column;

        .name_input {
          margin-top: 27px;
        }

        .email_input {
          margin: 7px 0 12px;
        }

        button {
          align-self: center;
        }
      }
    }

    .icon_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      height: 199px;

      img {
        position: absolute;
        top: -40px;
        width: 231px;
        height: 237px;
        transform: matrix(-0.9, -0.44, -0.44, 0.9, 0, 0);
      }
    }
  }

  @media (max-width: calc($tablet-size - 1px)) {
    .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media (min-width: $tablet-size) {
    .content_wrapper {
      max-width: none;

      .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .title {
          max-width: 346px;
        }

        .form {
          width: 100%;

          .email_input,
          .name_input {
            align-self: center;
            width: 50%;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    padding: 80px 0 80px 80px;
    position: relative;

    .content_wrapper {
      display: flex;
      width: 100%;
      max-width: none;

      .body {
        width: 422px;
        align-items: flex-start;

        .title {
          text-align: inherit;
          max-width: none;
        }

        .form {
          width: 344px;

          button {
            align-self: flex-start;
          }

          .email_input,
          .name_input {
            width: 100%;
          }
        }
      }

      .icon_wrapper {
        width: 342px;
        height: 435px;
        border-radius: $card-border-radius;
        overflow: hidden;

        position: absolute;
        top: -25px;
        right: 0;

        img {
          width: 508px;
          height: auto;
          top: -30px;
          bottom: 0;
          left: -34px;
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    padding: 80px 0 60px 80px;

    .content_wrapper {
      .body {
        width: 729px;

        .form {
          flex-direction: row;
          justify-content: space-between;
          margin-top: 48px;
          width: inherit;

          .email_input,
          .name_input {
            width: 268px;
            margin: 0;
          }
        }
      }

      .icon_wrapper {
        width: 435px;
        height: 480px;
        bottom: 0;
        top: auto;

        img {
          bottom: -118px;
          width: 589px;
          left: auto;
          top: auto;
          right: -103px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .content_wrapper {
      .icon_wrapper {
        width: 520px;

        img {
          bottom: -158px;
          width: 660px;
        }
      }
    }
  }
}
