@import "./../../styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 52px;
  padding: 0 24px;

  font-family: "Transducer-Extended-Medium";
  font-size: 16px;
  line-height: 19px;

  color: $main-white-color;
  background-color: $main-dark-color;
  border-radius: 36px;
  border: 1px solid $main-dark-color;
  outline: none;
  cursor: pointer;

  &.isWhite {
    border: 1px solid $main-white-color;
    background-color: $main-white-color;
    color: $main-dark-color;

    svg {
      stroke: $main-dark-color;
    }
  }

  &.isRounded {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 36px;
    padding: 0;

    svg {
      margin: 0;
      stroke: $main-dark-color;
      width: 17.8px;
      height: 13.4px;
    }

    &.isDisabled {
      border: 1px solid $swiper-button-disable-color;

      svg {
        stroke: $swiper-button-disable-color;
      }
    }
  }

  &.withArrow {
    padding: 0 31.5px 0 24px;
  }

  svg {
    margin-left: 14.6px;
    stroke: $main-white-color;
  }

  .spinner {
    width: 24px;
    height: 24px;
    animation: 1s linear 0s normal none infinite running loading;
    -webkit-animation: 1s linear 0s normal none infinite running loading;

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
