@import "./../../styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 52px;
  padding: 0 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: $main-dark-color;
  background-color: $main-white-color;
  border-radius: 36px;
  border: 1px solid $main-dark-color;
  outline: none;
  cursor: pointer;

  &.isWhite {
    border: 1px solid $main-white-color;
    background-color: $main-white-color;
    color: $main-dark-color;
  }

  // &.withArrow {
  //   height: 43px;
  //   padding: 0 34px;
  // }
  
  &.isCarousel {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 36px;
    padding: 0;

    svg {
      margin: 0;
    }
  }

  svg {
    margin-left: 14.6px;
  }

  // @media (max-width: $tablet-size) {
  //   // width: 100% !important;
  //   // height: 50px;
  //   // line-height: 20px;
  //   // padding: 0;

  //   // &.withArrow {
  //   //   height: 36px;
  //   //   font-size: 16px;
  //   //   line-height: 24px;
  //   // }

  //   // &.isNotWide {
  //   //   width: fit-content !important;
  //   //   height: 43px;
  //   //   padding: 0 24px;
  //   // }
  // }
}
