@import "./../../styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 52px;
  padding: 0 24px;

  font-family: "Transducer-Extended-Medium";
  font-size: 16px;
  line-height: 19px;

  color: $main-white-color;
  background-color: $main-dark-color;
  border-radius: 36px;
  border: 0;
  outline: none;
  cursor: pointer;

  &.isGradientAdded {
    background-image: url("../../assets/images/gradient/buttons/black_button.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position-x 0.3s;
  }

  &.isGradientAdded:hover,
  &.isGradientFixedActive {
    background-position-x: center !important;
  }

  &.isWhite {
    background-color: $main-white-color;
    color: $main-dark-color;

    .arrow_icon {
      stroke: $main-dark-color;
    }

    &.isGradientAdded {
      background-image: url("../../assets/images/gradient/buttons/white_button.png");
    }

    .success_icon {
      width: 14.9px;
      margin-left: 9.5px;
      stroke: $main-dark-color;
    }
  }

  &.isRounded {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 36px;
    border: 1px solid $main-dark-color;
    padding: 0;

    .arrow_icon {
      margin: 0;
      stroke: $main-dark-color;
    }

    &.isDisabled {
      border: 1px solid $swiper-button-disable-color;

      .arrow_icon {
        stroke: $swiper-button-disable-color;
      }
    }
  }

  &.isDisabled {
    cursor: default;
  }

  &.withArrow {
    padding: 0 31.5px 0 24px;
  }

  .arrow_icon {
    width: 17.8px;
    height: 13.4px;
    margin-left: 14.6px;
    stroke: $main-white-color;
  }

  .success_icon {
    width: 14.9px;
    margin-left: 9.5px;
  }

  .spinner {
    width: 24px;
    height: 24px;
    animation: 1s linear 0s normal none infinite running loading;
    -webkit-animation: 1s linear 0s normal none infinite running loading;

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
