@import "./../../styles/variables.scss";

.link_wrapper {
  // disabled <a href/> behaviour. will be removed later //
  pointer-events: none;
  cursor: default;
  ////////////

  display: block;
  width: 182px;
  min-height: 486px;
  text-decoration: none;

  .contributor_imgWrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 218px;
    overflow: hidden;

    background: $contributor-img-bg-color;
    border: 1px solid $main-dark-color;
    border-radius: $card-border-radius;

    img {
      width: 100%;
      height: auto;
    }
  }

  .contributor_mainContent {
    .contributor_title {
      margin-bottom: 16px;
      word-break: break-word;
    }

    .contributor_label {
      width: max-content;
      margin-bottom: 16px;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 11px;
    }

    .contributor_description {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (min-width: $tablet-size) {
    width: 409px;
    min-height: auto;

    .contributor_card {
      display: flex;

      .contributor_imgWrapper {
        width: 192px;
        height: 334px;
        flex-shrink: 0;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 24px;

        img {
          width: 280px;
          height: 280px;
        }
      }

      .contributor_mainContent {
        .contributor_title {
          margin-bottom: 16px;
        }

        .contributor_label {
          margin-bottom: 24px;
        }

        .contributor_description {
          // temporary changed
          // font-size: 16px;
          // line-height: 24px;
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    width: 516px;

    .contributor_card {
      .contributor_mainContent {
        .contributor_title {
          font-size: 36px;
          line-height: 36px;
        }

        .contributor_label {
          margin-bottom: 32px;
          font-size: 16px;
          line-height: 16px;
        }

        .contributor_description {
          width: 223px;
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    width: 516px;

    .contributor_card {
      padding-right: 0;

      .contributor_mainContent {
        .contributor_title {
          font-size: 36px;
          line-height: 36px;
        }

        .contributor_description {
          width: 210px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    min-width: 568px;
    width: 568px;

    .contributor_card {
      padding-right: 25px;

      .contributor_mainContent {
        .contributor_description {
          width: 270px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
