.not_found_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > span {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  img {
    margin: 0 30px 51px;
    max-width: 574px;
  }

  a {
    margin-top: 87px;
    text-decoration: none;
  }
}
