@import "./../../styles/variables.scss";

.information_block_wrapper {
  margin: 0 !important;
  padding-top: 15px;

  .navigation_side_wrapper {
    margin-bottom: 43px;

    .mobile_button {
      stroke: $main-dark-color;
      width: 13.7px;
      height: 10.5px;
      cursor: pointer;
    }

    .desktop_navigation_block_wrapper {
      display: none;
    }
  }

  .breadcrumbs_wrapper {
    display: block;
    margin-top: 15px;

    .breadcrumb {
      display: inline;
      text-align: center;

      a {
        color: $text-coming-soon-color;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $main-dark-color;
          cursor: pointer;
        }
      }

      svg {
        display: inline;
        margin-bottom: -2.5px;
        margin-left: 4px;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  @media (min-width: $tablet-size) {
    padding-top: 31px;

    .navigation_side_wrapper {
      margin-bottom: 55px;
    }

    .content_side_wrapper {
      .page_title {
        margin-bottom: 32px;
      }

      .content {
        .block > .title {
          margin-bottom: 16px;
        }

        &:not(:first-child) {
          .block {
            margin-top: 24px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    padding-top: 32px;

    .navigation_side_wrapper {
      margin-bottom: 0;
      align-items: flex-end;

      .mobile_button {
        display: none;
      }

      .desktop_navigation_block_wrapper {
        position: fixed;
        display: block;

        [class~="website_info"] {
          margin-top: 64px;

          a {
            display: block;
            margin-top: 32px;
            text-decoration: none;
          }
        }

        [class~="author_info"] {
          display: flex;
          flex-direction: column;
          width: 193px;
          margin-top: 68px;

          [class~="author_label"] {
            margin-bottom: 4px;
            color: $input-border-color;
          }
        }
      }

      &.isInheritPosition {
        .desktop_navigation_block_wrapper {
          position: inherit;
        }
      }
    }

    .content_side_wrapper {
      .page_title {
        margin-bottom: 40px;
      }
    }

    .breadcrumbs_wrapper {
      margin-top: 0;
      margin-bottom: 56px;
    }
  }

  @media (min-width: $desktop-large-size) {
    padding-top: 96px;

    .navigation_side_wrapper
      > .desktop_navigation_block_wrapper
      > [class~="website_info"] {
      margin-top: 80px;
    }

    .content_side_wrapper {
      .page_title {
        font-size: 50px;
        line-height: 50px;
      }

      .content {
        .block {
          .title {
            margin-bottom: 24px;
          }

          .description {
            font-size: 20px;
            line-height: 26px;

            .subtitle {
              font-size: 28px;
              line-height: 28px;
            }

            .list {
              margin: 0 0 26px;
              padding-left: 28px;
            }

            br {
              height: 26px;
            }
          }
        }

        &:not(:first-child) {
          .block {
            margin-top: 32px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .content_side_wrapper {
      .page_title {
        margin-bottom: 48px;
      }

      .content > .block {
        line-height: 36px;
      }
    }
  }
}
