@import "./../../styles/variables.scss";

.scrollingBlock_title {
  max-width: 400px;
}

.questionsBlock {
  margin-top: 240px;
}

// 600
@media (min-width: $tablet-size) {
  .questionsBlock {
    margin-top: 180px;
  }
}

// 1024
@media (min-width: $desktop-size) {
  .scrollingBlock_title {
    max-width: none;
    width: 564px;
  }
}

// 1440
@media (min-width: $desktop-large-size) {
  .scrollingBlock_title {
    width: 869px;
  }

  .questionsBlock {
    margin-top: 380px;
  }
}
