@import "./../../styles/variables.scss";

.main_introductory_block {
  padding-bottom: 80px;

  .main_img_wrapper {
    margin-bottom: 39px;

    img {
      width: 402px;
      height: 226px;
    }
  }

  .main_text_wrapper {
    max-width: 410px;
    width: 100%;

    [class~="title"] {
      width: 240px;
    }
  }
}

.scrollingBlock_title {
  width: 280px;
}

// 600
@media (min-width: $tablet-size) {
  .main_introductory_block {
    .main_img_wrapper {
      margin-bottom: 18px;

      img {
        width: 480px;
        height: 270px;
      }
    }

    .main_text_wrapper {
      [class~="title"] {
        width: auto;
      }

      br {
        display: none;
      }
    }
  }

  .scrollingBlock_title {
    width: 300px;
  }
}

// 1024
@media (min-width: $desktop-size) {
  .main_introductory_block {
    .main_img_wrapper {
      margin-bottom: 38px;

      img {
        width: 700px;
        height: 394px;
      }
    }

    .main_text_wrapper {
      width: 660px;
      max-width: none;

      [class~="description"] {
        width: 534px;
      }
    }
  }

  .scrollingBlock_title {
    width: 550px;
  }
}

// 1440
@media (min-width: $desktop-large-size) {
  .main_introductory_block {
    padding-right: 0;
    padding-bottom: 138px;

    .main_img_wrapper {
      height: 472px;
      width: 840px;
      margin-bottom: 0;

      position: relative;
      top: -83px;
      right: -122px;

      img {
        position: absolute;
        width: inherit;
        height: inherit;
        right: 0;
      }
    }

    .main_text_wrapper {
      width: 745px;

      br {
        display: block;
      }

      [class~="title"] {
        width: inherit;

        [class~="massive_word"] {
          letter-spacing: -3.6px;
        }
      }

      [class~="description"] {
        width: 647px;
      }
    }
  }

  .scrollingBlock_title {
    width: 745px;
  }
}

@media (min-width: $desktop-max-size) {
  .main_introductory_block {
    .main_content {
      justify-content: flex-end;

      .main_img_wrapper {
        width: 1000px;
        height: 562px;
        right: auto;
        top: -114px;

        img {
          left: 15px;
        }
      }

      .main_text_wrapper {
        [class~="title"] {
          width: 793px;
        }

        [class~="description"] {
          width: 686px;
        }
      }
    }
  }

  .scrollingBlock_title {
    width: auto;
  }
}
