@import "./../../styles/variables.scss";

.financial_infrastrucure_next_gen {
  .title {
    font-family: "Transducer", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    margin-bottom: 34px;
  }

  .blocks > div:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-size) {
  .financial_infrastrucure_next_gen {
    width: 644px;
    .title {
      font-size: 40px;
      line-height: 44px;
    }
  }
}

@media (min-width: $desktop-large-size) {
  .financial_infrastrucure_next_gen {
    .title {
      margin-bottom: 96px;
    }
  }
}
