.user_select_none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.underline {
  border-bottom: 1px solid $main-white-color;
}

.br-separator {
  content: " ";
  display: block;
  height: 24px;
}

.email-interaction {
  border-bottom: 1px solid $main-dark-color;
  cursor: pointer;
}

.underlined-link {
  color: $main-dark-color;
  border-bottom: 1px solid $main-dark-color;
  text-decoration: none;
  cursor: pointer;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}
