@import "./variables.scss";

@font-face {
  font-family: Prompt-Regular;
  src: url(../styles/fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
  font-family: Inter-400;
  src: url(../styles/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-500;
  src: url(../styles/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-600;
  src: url(../styles/fonts/Inter/Inter-SemiBold.ttf);
}

.prompt-regular,
.prompt-400 {
  font-family: "Prompt-Regular", sans-serif;
}

.inter-regular {
  font-family: "Inter", sans-serif;
}

.inter_400 {
  font-family: "Inter-400", sans-serif;
}

.inter_600 {
  font-family: "Inter-600", sans-serif;
}

.title-font {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  color: $main-dark-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

.subtitle-font-28-50 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-font-28_2-36 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-size) {
    font-size: 36px;
    line-height: 36px;
  }
}

.subtitle-font-28-36 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-large-size) {
    font-size: 36px;
    line-height: 36px;
  }
}

.subtitle-font-28-36-50 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-font-28-36-50-80 {
  font-family: "Prompt-Regular";
  font-size: 28px;
  line-height: 28px;
  color: $main-dark-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

.subtitle-font-20-28 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: $main-dark-color;

  @media (min-width: $desktop-size) {
    font-size: 28px;
    line-height: 28px;
  }
}

.subtitle-font-32-36-50 {
  font-family: "Prompt-Regular";
  font-size: 32px;
  line-height: 32px;
  color: $main-dark-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-font-32-50-80 {
  font-family: "Prompt-Regular";
  font-size: 32px;
  line-height: 32px;
  color: $main-dark-color;

  @media (min-width: $tablet-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

// _36 font, -3 number of pages containing this font
//  _50 font
.subtitle_font_36-3_50 {
  font-family: $prompt400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-gradient-block-font {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-white-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

.body-font {
  font-style: normal;
  font-family: "Inter-400", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $body-text-color;

  @media (min-width: $desktop-large-size) {
    font-size: 20px;
    line-height: 26px;
  }
}

.description-gradient-block-font {
  font-family: "Inter-400", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $main-gray-text-color;

  @media (min-width: $desktop-size) {
    font-size: 20px;
    line-height: 26px;
  }
}

// additional static fonts

// ** Prompt **
.font-50 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}

.prompt-36 {
  font-size: 36px;
  line-height: 36px;
}

.font-28,
.prompt-28 {
  font-size: 28px;
  line-height: 28px;
}

.font-20 {
  font-size: 20px;
  line-height: 20px;
}

.prompt-16 {
  font-family: "Prompt-Regular";
  font-size: 16px;
  line-height: 16px;
}

.prompt-20 {
  font-family: "Prompt-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

// ** Inter **
.inter_16 {
  font-family: "Inter-400", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.inter-12 {
  font-family: "Inter-400", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
