@import "./variables.scss";

@font-face {
  font-family: Prompt-Regular;
  src: url(../styles/fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../styles/fonts/Inter/Inter-Medium.ttf);
}

.prompt-regular {
  font-family: "Prompt-Regular", sans-serif;
}

.inter-regular {
  font-family: "Inter", sans-serif;
}

.title-font {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  color: $main-dark-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

.subtitle-font-28-50 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-font-28-36 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-large-size) {
    font-size: 36px;
    line-height: 36px;
  }
}

.subtitle-font-28-36-50 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-dark-color;

  @media (min-width: $desktop-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 50px;
    line-height: 50px;
  }
}

.subtitle-font-20-28 {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: $main-dark-color;

  @media (min-width: $desktop-size) {
    font-size: 28px;
    line-height: 28px;
  }
}

.subtitle-gradient-block-font {
  font-family: "Prompt-Regular";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;

  color: $main-white-color;

  @media (min-width: $tablet-size) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-size) {
    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: $desktop-large-size) {
    font-size: 80px;
    line-height: 80px;
  }
}

.body-font {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $body-text-color;

  @media (min-width: $desktop-large-size) {
    font-size: 20px;
    line-height: 26px;
  }
}

// additional static fonts

// ** Prompt **
.font-50 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}

.prompt-36 {
  font-size: 36px;
  line-height: 36px;
}

.font-28 {
  font-size: 28px;
  line-height: 28px;
}

.font-20 {
  font-size: 20px;
  line-height: 20px;
}

.prompt-16 {
  font-family: "Prompt-Regular";
  font-size: 16px;
  line-height: 16px;
}

// ** Inter **
.font-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.font-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
