@import "./variables.scss";

// mui select
.MuiPopover-paper {
  border: 1px solid $select-item-hover-color;
  border-radius: 16px !important;
  box-shadow: none !important;
  margin-top: 8px;
  touch-action: none;

  ul {
    [class~="Mui-selected"] {
      background-color: $select-item-choosen-color;
      border-bottom: 1px solid $select-item-hover-color;

      &:hover {
        background-color: $select-item-hover-color;
      }

      &:focus {
        background-color: $select-item-choosen-color;
      }
    }

    & > li {
      padding: 8px 0 8px 24px;

      &:hover {
        background-color: $select-item-hover-color;
      }
    }
  }
}

// mui Dialog (Modal)
.MuiDialog-root {
  .MuiModal-backdrop {
    background-color: rgba($main-dark-color, 0.8) !important;
  }
}
