@import "./variables.scss";

// mui select
.MuiPopover-paper {
  border: 1px solid $select-items-border-color;
  border-radius: 16px;
  box-shadow: none;
  margin-top: 8px;
  touch-action: none;

  ul > li {
    padding: 8px 0 8px 23px;

    &:hover {
      background-color: $select-item-hover-color;
    }
  }
}

// mui Dialog (Modal)
.MuiModal-backdrop {
  background-color: rgba($main-dark-color, 0.8) !important;
}
