// sizes
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1024px;

$page-max-width: 1440px;
$header-desktop-height: 120px;
$header-mobile-height: 67px;

// colors
$body-bg-color: #f5f5f5;
$layout-bg-color: rgba(255, 255, 255, 1);
$main-text-color: rgba(34, 34, 34, 1);

$header-border-bottom-color: rgba(34, 34, 34, 0.1);

$footer-link-gray-color: rgba(231, 231, 231, 1);
