// sizes
$mobile-size: 280px;
$tablet-size: 600px;
$desktop-size: 1024px;
$desktop-large-size: 1440px;
$desktop-max-size: 1920px;

// $content-max-width: 1170px;

$main-border-radius: 100px;

$header-desktop-height: 120px;
$header-mobile-height: 67px;
$header-content-width: 100%;
$header-content-height: 100%;

$card-border-radius: 16px;
$scrollbar-border-radius: 5px;

// colors
$main-dark-color: #121113;
$main-white-color: #ffffff;
$main-purple-color: #3f0b81;

$main-purple-text-color: #866fcf;
$main-gray-text-color: rgba(255, 255, 255, 0.8);

$body-text-color: #3e3e3e;

$footer-copyright-text-color: rgba(255, 255, 255, 0.5);
$secure_decentralised_block-border-color: #000000;
$swiper-button-disable-color: #888889;

$timeline-status-gray-color: rgba(14, 14, 14, 0.1);
$timeline-status-green-color: #55ffa6;

$input-border-color: #6e6e6e;

// breakpoints
$value_partner_card-tablet-breakpoint: 360px;

////////////////////// old-colors
// $main-dark-color: rgba(34, 34, 34, 1);
// $main-white-color: rgba(255, 255, 255, 1);
$main-gray-color: rgba(231, 231, 231, 1);

$main-border-color: rgba(34, 34, 34, 0.1);

$body-bg-color: #f5f5f5;

$card-box-shadow-color: 0px 5px 50px rgba(0, 0, 0, 0.1);
$card-text-shadow-color: 0px 5px 50px rgba(0, 0, 0, 0.1);
$card-text-opacity: 0.4;

$form-border-color: rgba(241, 241, 241, 1);
// $input-border-color: rgba(138, 138, 138, 1);

$label-box-shadow-color: 0px 0px 10px rgba(0, 0, 0, 0.15);

$faq-mobile-title-text-color: rgba(77, 77, 77, 1);

$sign-up-email-gray-text-color: rgba(0, 0, 0, 0.5);
