// sizes
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1024px;

$content-max-width: 1170px;
$page-max-width: 1440px;

$header-desktop-height: 120px;
$header-mobile-height: 67px;
$header-content-width: 100%;
$header-content-height: 100%;

$card-border-radius: 16px;
$card-event-label-border-radius: 100px;

$form-border-radius: 18px;
$input-border-radius: 8px;
$checkbox-border-radius: 100px;

$button-border-radius: 100px;

// colors
$main-dark-color: rgba(34, 34, 34, 1);
$main-white-color: rgba(255, 255, 255, 1);
$main-gray-color: rgba(231, 231, 231, 1);

$main-border-color: rgba(34, 34, 34, 0.1);

$body-bg-color: #f5f5f5;

$card-box-shadow-color: 0px 5px 50px rgba(0, 0, 0, 0.1);
$card-text-shadow-color: 0px 5px 50px rgba(0, 0, 0, 0.1);
$card-text-opacity: 0.4;

$form-border-color: 1px solid rgba(241, 241, 241, 1);
$input-border-color: 0.5px solid rgba(138, 138, 138, 1);

$label-box-shadow-color: 0px 0px 10px rgba(0, 0, 0, 0.15);

$faq-mobile-title-text-color: rgba(77, 77, 77, 1);
