@import "./../../styles/variables.scss";

.card {
  width: 100%;
  z-index: 98;
  position: relative;

  img {
    width: 116px;
    margin-bottom: 18px;
  }

  .title {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-size) {
    img {
      width: 180px;
    }
  }

  @media (min-width: $desktop-large-size) {
    .title {
      svg {
        display: none;
      }
    }
  }
}
