@import "./../../styles/variables.scss";

.introductory_block {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 116px 16px 0;

  .gif_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-left: -4px;

    span {
      margin-left: -2px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .text_wrapper {
      z-index: 96;

      .title {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
      }
    }

    .icon_wrapper {
      align-self: center;
      margin-bottom: 39px;

      .icon {
        width: 402px;
        height: 226px;
      }
    }
  }

  @media (min-width: $tablet-size) {
    padding: 116px 24px 0;

    .content {
      .icon_wrapper {
        margin-bottom: 18px;

        .icon {
          width: 480px;
          height: 270px;
        }
      }

      .text_wrapper {
        .title {
          font-weight: 500;
          font-size: 40px;
          line-height: 44px;
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    padding: 116px 80px 0;

    .content {
      .text_wrapper {
        width: 644px;

        .title {
          font-weight: 500;
          font-size: 64px;
          line-height: 68px;
        }
      }
      .icon_wrapper {
        margin-bottom: 38px;

        .icon {
          width: 700px;
          height: 394px;
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    padding: 208px 0 0 80px;
    z-index: 99;

    .gif_wrapper {
      margin-bottom: 48px;

      img {
        width: 67px;
        height: 67px;
      }
    }

    .content {
      flex-direction: row-reverse;
      justify-content: space-between;

      .icon_wrapper {
        height: 472px;
        width: 840px;
        margin-bottom: 0;

        position: relative;
        top: -83px;
        right: -122px;

        .icon {
          position: absolute;
          width: inherit;
          height: inherit;
          right: 0;
        }
      }

      .text_wrapper {
        width: 745px;

        .title {
          font-weight: 500;
          font-size: 100px;
          line-height: 100%;
          margin-bottom: 32px;
        }

        .description {
          width: 514px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    padding-left: 120px;

    .content {
      justify-content: flex-end;

      .icon_wrapper {
        width: 1000px;
        height: 562px;
        right: auto;
        top: -114px;

        .icon {
          left: 15px;
        }
      }
    }
  }
}
