@import "./../../styles/variables.scss";

.message_wrapper {
  background: $main-dark-color;

  .message {
    width: 243px;
    display: flex;
    align-items: center;
    padding: 12px 17px 12px 15.8px;

    * {
      z-index: 99;
    }

    .text {
      margin-left: 11.7px;
      color: $main-white-color;

      .main {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 2px;
      }

      .secondary {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
      }
    }

    .status_icon {
      width: 22.5px;
      height: 22.5px;
      stroke: $main-white-color;
    }

    .close_icon {
      width: 10px;
      height: 10px;
      margin-left: auto;
      cursor: pointer;
    }

    @media (min-width: $desktop-size) {
      width: 421px;
      padding: 22px 32px 22px 30.5px;

      .text {
        margin-left: 14.5px;

        .main {
          font-size: 28px;
          line-height: 28px;
          margin-bottom: 4px;
        }
        .secondary {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .status_icon {
        width: 39px;
        height: 39px;
      }

      .close_icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
