@import "./../../styles/variables.scss";

.title {
  width: 198px;

  @media (min-width: $value_partner_card-tablet-breakpoint) {
    width: auto;
  }
}

.nature_client_imgWrapper {
  height: 80px;

  img {
    height: inherit;
    width: auto !important;
  }

  @media (min-width: $desktop-large-size) {
    height: 120px;
  }
}

.nature_client_linkWrapper {
  min-height: 328px;

  @media (min-width: $tablet-size) {
    min-height: 310px;
  }

  @media (min-width: $desktop-max-size) {
    min-height: 480px;
  }
}
