@import "./../../styles/variables.scss";

.ecosystem_visualization_block {
  .description {
    margin-top: 16px;
    max-width: 534px;
    font-family: "Inter-400", sans-serif;
  }

  .mobile_cards_container {
    max-width: 410px;

    .card {
      margin-top: 32px;

      .card_description {
        [class~="title"] {
          margin: 32px 0 12px;
          font-size: 28px;
          line-height: 28px;
        }
      }

      .card_video_wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 24px;

        video {
          position: absolute;
          width: 252px;
          left: -12px;
          border-radius: 15%;
        }
      }
    }
  }

  .desktop_large_cards_container {
    display: none;
  }

  @media (min-width: $tablet-size) {
    .mobile_cards_container {
      width: 74.4%;
      max-width: none;

      .card {
        .card_video_wrapper {
          video {
            width: 397px;
            left: -18px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    .description {
      width: 62%;
      max-width: none;
    }

    .mobile_cards_container {
      .card {
        .card_title,
        .card_description > [class~="title"] {
          margin-bottom: 24px;
          font-size: 36px;
          line-height: 36px;
        }

        .card_video_wrapper {
          video {
            width: 466px;
            left: -20px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    display: flex;
    flex-direction: column;

    .description {
      width: 930px;
      margin-top: 24px;
      font-size: 20px;
      line-height: 26px;
    }

    .desktop_large_cards_container {
      position: relative;

      display: block;
      align-self: center;
      width: 1280px;
      height: 1572px;
      margin-top: 80px;

      video,
      .transparent_block {
        position: absolute;
        mix-blend-mode: multiply;
      }

      .transparent_block {
        cursor: pointer;
        border-radius: 100%;
      }
    }

    .mobile_cards_container {
      display: none;
    }

    .popup {
      display: none;
      position: absolute;
      bottom: -140px;
      left: -40px;

      width: 612px;
      padding: 24px;
      background-color: $main_white_color;
      border-radius: 16px;
      border: 1px solid $main_dark_color;
      pointer-events: none;

      &.isFixed {
        position: fixed;
        bottom: 40px;
        left: 40px;
      }

      &.isVisible {
        display: block;
      }

      &.isTopAbsolutePosition {
        bottom: auto;
        top: 200px;
      }

      &.dartAndNodeSwappingBlock {
        .popup_title {
          letter-spacing: -1.08px;
        }
      }

      .popup_title {
        margin-bottom: 16px;
      }

      .popup_description {
        font-size: 16px;
        line-height: 24px;

        .popup_title {
          margin-top: 16px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .desktop_large_cards_container {
      width: 1680px;
      height: 2004px;
    }

    .popup {
      bottom: -120px;
      left: -60px;
      width: 828px;
      padding: 32px;

      &.isFixed {
        left: calc(((100% - $desktop-max-size) / 2) + 60px);
        bottom: 60px;
      }

      &.dartAndNodeSwappingBlock {
        .popup_title {
          letter-spacing: 0;
        }

        .popup_description {
          letter-spacing: -0.2px;
        }
      }

      .popup_title > br {
        display: none;
      }

      .popup_description {
        font-size: 20px;
        line-height: 26px;

        .popup_title {
          margin-top: 24px;
        }
      }
    }
  }
}
