@import "./../../styles/variables.scss";

$icon-desktop-small-size: 23.33px;
$icon-desktop-max-size: 28px;

.social_links {
  height: $icon-desktop-max-size;

  a:not(:first-child) {
    margin-left: 16px;
  }

  svg {
    width: $icon-desktop-max-size;
    height: $icon-desktop-max-size;
    fill: $main-white-color;
  }
}
