@import "./../../styles/variables.scss";

.inclusive_elastic_decentralised_swiper {
  padding: 80px 0;

  .text_wrapper {
    .title {
      color: $main-white-color;
      margin-bottom: 24px;
    }

    .description {
      color: $main-gray-text-color;
      margin-bottom: 40px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .desktop_cards {
      display: none;
    }

    .note {
      color: $main-gray-text-color;
      margin-top: 16px;
    }

    .swiper_buttons {
      align-self: center;
      margin-top: 32px;
    }
  }

  @media (min-width: $tablet-size) {
    .text_wrapper {
      .title {
        margin-bottom: 32px;
      }

      .description,
      .title {
        max-width: 644px;
      }
    }

    .content > .swiper_buttons {
      margin-top: 40px;
    }
  }

  @media (min-width: 920px) {
    .content {
      .desktop_cards {
        display: flex;
        width: 100%;

        & > div {
          width: 24%;

          &:not(:first-child) {
            margin-left: 16px;
          }
        }
      }

      .mobile_cards {
        display: none;
      }

      .swiper_buttons {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-size) {
    .text_wrapper {
      .description {
        margin-bottom: 56px;
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    padding: 180px 0;

    .text_wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;

      .description,
      .title {
        max-width: none;
      }

      .title {
        width: 629px;
        margin-right: 132px;
        margin-bottom: 0;
        flex-shrink: 0;
      }

      .description {
        max-width: 692px;
        margin-bottom: 0;
        padding-top: 10px;
      }
    }

    .content {
      .desktop_cards {
        & > div {
          &:not(:first-child) {
            margin-left: 24px;
          }
        }
      }

      .note {
        margin-top: 32px;
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .text_wrapper {
      padding-bottom: 91px;

      .title {
        margin: 0;
      }
    }

    .content {
      .desktop_cards {
        & > div {
          width: inherit;
        }
      }
    }
  }
}
