@import "./../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;

  width: 100%;
  max-width: inherit;
  height: $header-height;
  padding: 0 16px;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: $header-bg-color;

  &.isHeaderTransparent {
    backdrop-filter: inherit;
    -webkit-backdrop-filter: inherit;
    background-color: transparent;
  }

  &.isPageWithDarkBackground {
    background-color: $dark-header-color;

    &.isHeaderTransparent {
      background-color: transparent;
    }

    .logo_wrapper {
      svg {
        fill: $main-white-color;
      }
    }

    .burger_menu_icon {
      fill: $main-white-color;

      path {
        stroke: $main-dark-color;
      }
    }

    nav {
      .menu_item_wrapper {
        .menu_item {
          color: $main-white-color;

          .arrow {
            fill: $main-white-color;
          }
        }
      }
    }

    .external_links {
      svg {
        fill: $main-white-color;
      }
    }
  }

  .logo_wrapper {
    svg {
      width: 124px;
      height: 32px;
    }
  }

  .external_links,
  nav {
    display: none;
  }

  .burger_menu_icon {
    width: 40px;
    height: 40px;
    fill: $main-dark-color;
  }

  .burger_menu_icon,
  .logo_wrapper {
    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: $tablet-size) {
    padding: 0 24px;
  }

  @media (min-width: $desktop-size) {
    padding: 0 80px;
  }

  @media (min-width: $desktop-large-size) {
    height: $header-height-large;

    .logo_wrapper {
      svg {
        width: 155px;
        height: 40px;
      }
    }

    .burger_menu_icon {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 585px;
      height: 100%;

      .menu_item_wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 22px;

        .menu_item {
          display: flex;
          align-items: center;
          padding: 10px 0;
          cursor: pointer;
          text-decoration: none;
          color: $main-dark-color;

          font-weight: 400;
          font-size: 16px;
          line-height: 20px;

          .link_name {
            display: flex;
            flex-direction: column;
            align-items: center;

            .underline {
              width: 0;
              border-bottom: 1.5px solid $main-dark-color;
              transition: width 0.3s;
            }

            &.isSelected,
            &.isHovered {
              .underline {
                width: 100%;
              }
            }
          }

          .arrow {
            width: 12px;
            height: 12px;
            fill: $main-dark-color;
            margin-left: 7.5px;

            transform: rotate(0deg);
            transition: transform 0.6s;
          }

          &.isActive {
            .arrow {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .external_links {
      display: flex;

      svg {
        fill: $main-dark-color;
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    padding: 0 120px;
  }
}

.popper {
  width: fit-content !important;
  position: fixed !important;
  transform: translate(-50%, 0) !important;
  top: 84px !important;
  left: 50% !important;
  z-index: 101;

  .blur,
  .submenu {
    animation: popper-animation 0.6s forwards;
  }

  .blur {
    position: absolute;
    top: 8px;
    width: 100%;
    height: calc(100% - 8px);
    z-index: 102;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: $submenu-bg-color;
    border-radius: $card-border-radius;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 103;

    height: 284px;
    padding: 40px;
    margin-top: 8px;

    &.isTwoRows {
      height: 210px;
    }

    &.docsSubmenu {
      width: 817px;

      .link {
        &.isFirstColumn {
          width: 412px;
        }

        &.isSecondColumn {
          width: 289px;
        }
      }
    }

    &.ecosystemSubmenu {
      width: 665px;

      .link {
        &.isFirstColumn {
          width: 328px;
        }

        &.isSecondColumn {
          width: 221px;
          margin-left: 36px;
        }
      }
    }

    .link {
      display: flex;
      height: 52px;
      margin-bottom: 24px;
      text-decoration: none;
      cursor: pointer;

      &:not(.isTwoRows) {
        &:nth-child(3n) {
          margin: 0;
        }
      }

      &.isTwoRows {
        &:nth-child(2n) {
          margin: 0;
        }
      }

      &.isDisabled {
        pointer-events: none;
        cursor: default;
      }

      .icon {
        width: 48px;
        height: 48px;
        margin-right: 12px;
      }

      .text {
        color: $main-dark-color;

        .title {
          width: fit-content;
          border-bottom: 1px solid transparent;
          margin-bottom: 4px;

          &:hover {
            border-bottom: 1px solid $main-dark-color;
          }
        }

        &.isComingSoon {
          color: $text-coming-soon-color;

          .title {
            border-bottom: none;
          }
        }
      }
    }
  }

  @keyframes popper-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
