@import "./../../styles/variables.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;

  width: 100%;
  max-width: inherit;
  height: $header-height;
  padding: 0 16px;

  opacity: 0.95;
  background-color: $main-white-color;
  backdrop-filter: blur(125px);

  .logo_wrapper {
    svg {
      width: 124px;
      height: 32px;
    }
  }

  .external_links,
  nav {
    display: none;
  }

  .burger_menu_icon {
    width: 40px;
    height: 40px;
    fill: $main-dark-color;
  }

  .burger_menu_icon,
  .logo_wrapper {
    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: $tablet-size) {
    padding: 0 24px;
  }

  @media (min-width: $desktop-size) {
    padding: 0 80px;
  }

  @media (min-width: $desktop-large-size) {
    .logo_wrapper {
      svg {
        width: 155px;
        height: 40px;
      }
    }

    .burger_menu_icon {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      width: 585px;

      a {
        display: flex;
        align-items: center;

        color: $main-dark-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;

        .arrow {
          width: 12px;
          height: 12px;
          fill: $main-dark-color;
          margin-left: 7.5px;
        }
      }
    }

    .external_links {
      display: flex;

      svg {
        fill: $main-dark-color;
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    padding: 0 120px;
  }
}
