@import "./../../styles/variables.scss";

.coming_soon_page {
  padding-top: 80px;
  margin: 0 !important;
  max-height: 2500px;

  background: url("../../assets/images/coming-soon-background.png") no-repeat;
  background-size: cover;
  background-position: -290px;

  .content {
    font-family: "Transducer-Extended-Medium";
    padding: 56px 16px 92px;
    color: $main-white-color;

    .title {
      margin-bottom: 48px;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
    }

    .form_name {
      margin-bottom: 19px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    .form {
      width: 206px;

      .email_input {
        width: 180px;
        margin-bottom: 4px;

        & > div:last-child {
          height: 20px;
        }
      }
    }
  }

  @media (min-height: 1010px) and (max-width: 490px) {
    background-position: -450px;
  }

  @media (min-height: 1010px) and (max-width: 599px) {
    background-position: -350px;
  }

  @media (min-width: $tablet-size) {
    background-position: -480px;
    .content {
      padding: 256px 24px 123px;

      .title {
        margin-bottom: 149px;
        font-size: 64px;
        line-height: 68px;
      }

      .form_name {
        font-size: 32px;
        line-height: 36px;
      }

      .form {
        width: 326px;

        .email_input {
          width: 240px;
        }
      }
    }

    @media (min-height: 1280px) and (max-width: 650px) {
      background-position: -540px;
    }

    @media (min-height: 1400px) {
      background-position: -700px;
    }

    @media (min-height: 1500px) {
      background-position: -800px;
    }
  }

  @media (min-width: $desktop-size) {
    background-position: -400px;

    .content {
      padding: 282px 80px 170px;

      .title {
        margin-bottom: 217px;
        font-size: 100px;
        line-height: 100%;
      }

      .form_name {
        margin-bottom: 27px;
      }

      .form {
        width: 514px;
        display: flex;

        .email_input {
          margin-right: 24px;
          width: 307px;
          
          & > div:last-child {
            height: 10px;
          }
        }
      }
    }

    @media (min-height: 1600px) {
      background-position: -600px;
    }
  }

  @media (min-width: $desktop-large-size) {
    background-position: right;

    .content {
      padding: 200px 80px 94px;

      .title {
        margin-bottom: 164px;
      }
    }

    @media (min-height: 1200px) and (max-width: 1700px) {
      background-position: -200px;
    }

    @media (min-height: 1500px) and (max-width: 1800px) {
      background-position: -600px;
    }

    @media (min-height: 1600px) and (max-width: 1920px) {
      background-position: -600px;
    }
  }

  @media (min-width: $desktop-max-size) {
    background-position: right;

    .content {
      padding: 240px 120px 151px;

      .title {
        margin-bottom: 248px;
      }
    }

    @media (min-height: 1600px) {
      background-position: -500px;
    }
  }
}
