@import "./../../styles/variables.scss";

.coming_soon_page {
  padding-top: 80px;
  margin: 0 !important;
  max-height: 2500px;

  background: url("../../assets/images/coming-soon-background.png") no-repeat;
  background-size: cover;
  background-position: -290px;

  .content {
    padding: 56px 16px 40px;
    color: $main-white-color;

    .title {
      margin-bottom: 48px;
      font-size: 36px;
      line-height: 36px;
    }

    .form_name {
      margin-bottom: 19px;
      font-size: 28px;
      line-height: 28px;
    }

    .form {
      width: 206px;

      .input_wrapper {
        .fullName_input,
        .email_input {
          width: 180px;
        }

        .email_input {
          margin-bottom: 14px;

          & > div:last-child {
            height: 20px;
          }
        }
      }
    }
  }

  @media (min-height: 1010px) and (max-width: 490px) {
    background-position: -450px;
  }

  @media (min-height: 1010px) and (max-width: 599px) {
    background-position: -350px;
  }

  @media (min-width: $tablet-size) {
    background-position: -480px;
    .content {
      padding: 256px 24px 80px;

      .title {
        margin-bottom: 149px;
        font-size: 80px;
        line-height: 80px;
      }

      .form_name {
        font-size: 36px;
        line-height: 36px;
      }

      .form {
        width: 326px;
        .input_wrapper {
          .fullName_input,
          .email_input {
            width: 240px;
          }

          .fullName_input {
            margin-bottom: 7px;
          }
        }
      }
    }

    @media (min-height: 1280px) and (max-width: 650px) {
      background-position: -540px;
    }

    @media (min-height: 1400px) {
      background-position: -700px;
    }

    @media (min-height: 1500px) {
      background-position: -800px;
    }
  }

  @media (min-width: $desktop-size) {
    background-position: -400px;

    .content {
      padding: 282px 80px 168px;

      .title {
        margin-bottom: 217px;
        font-size: 120px;
        line-height: 100px;
      }

      .form_name {
        margin-bottom: 27px;
      }

      .form {
        width: 514px;
        display: flex;
        align-items: end;

        .submit {
          margin-bottom: 20px;
        }

        .input_wrapper {
          margin-right: 24px;

          .fullName_input,
          .email_input {
            width: 307px;

            & > div:last-child {
              height: 12px;
            }
          }

          .email_input {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (min-height: 1600px) {
      background-position: -600px;
    }
  }

  @media (min-width: $desktop-large-size) {
    background-position: right;

    .content {
      padding: 200px 80px 100px;

      .title {
        margin-bottom: 164px;
      }
    }

    @media (min-height: 1200px) and (max-width: 1700px) {
      background-position: -200px;
    }

    @media (min-height: 1500px) and (max-width: 1800px) {
      background-position: -600px;
    }

    @media (min-height: 1600px) and (max-width: 1920px) {
      background-position: -600px;
    }
  }

  @media (min-width: $desktop-max-size) {
    background-position: right;

    .content {
      padding: 240px 120px 141px;

      .title {
        margin-bottom: 248px;
      }
    }

    @media (min-height: 1600px) {
      background-position: -500px;
    }
  }
}
