@import "../../styles/variables.scss";

.our_values_block {
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    color: $main-white-color;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-size) {
    .title {
      margin-bottom: 14px;
    }
  }

  @media (min-width: $desktop-size) {
    .title {
      margin-bottom: 24px;
    }
  }

  @media (min-width: $desktop-large-size) {
    padding-top: 180px;
    padding-bottom: 180px;

    .title {
      margin-bottom: 56px;
    }
  }

  @media (min-width: $desktop-max-size) {
  }
}
