@import "./../../styles/variables.scss";

footer {
  width: 100%;
  padding: 56px 16px;
  background-color: $main-dark-color;

  .footer_content {
    .logo_column {
      margin-bottom: 40px;

      .logo {
        width: 109px;
        fill: $main-white-color;
        cursor: pointer;
      }

      .socials {
        display: none;
      }
    }

    .link_columns {
      display: flex;
      flex-wrap: wrap;

      .column {
        flex: 0 0 50%;

        &:nth-child(2n) {
          padding-left: 8px;
        }

        &:not(:nth-child(2n)) {
          padding-right: 8px;
        }

        &:nth-child(3n) {
          margin-top: 40px;
        }

        .column_title {
          color: $main-white-color;
          margin-bottom: 32px;
        }

        .column_links {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: none;
            color: $main-gray-text-color;

            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .additional_links_column {
      display: flex;
      flex-direction: column;

      width: 50%;
      padding-left: 8px;
      margin-top: 92px;

      a {
        text-decoration: none;
        color: $main-gray-text-color;
      }

      & > :not(:last-child) {
        margin-bottom: 16px;
      }

      .socials {
        display: none;
      }
    }

    .copyright {
      display: inline-block;
      margin-top: 48px;
      opacity: 0.5;
      color: $main-gray-text-color;
    }
  }

  @media (min-width: $tablet-size) {
    padding: 56px 24px;

    .footer_content {
      .logo_column {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        .socials {
          display: block;
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    padding: 56px 80px;

    .footer_content {
      .logo_column {
        margin-bottom: 56px;
      }

      .link_columns {
        .column {
          flex: 0 0 25%;

          &:not(:nth-child(1)) {
            padding-right: 0;
            padding-left: 8px;
            margin-top: 0;
          }

          &:nth-child(1) {
            padding: 0;
          }
        }
      }

      .additional_links_column {
        width: 25%;
        margin-top: 52px;
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    .footer_content {
      display: flex;
      flex-wrap: wrap;

      .logo_column {
        width: 34%;
        height: fit-content;

        .logo {
          width: 170px;
        }

        .socials {
          display: none;
        }
      }

      .link_columns {
        width: 66%;

        .column {
          &:nth-child(1) {
            padding-left: 8px;
          }
        }
      }

      .additional_links_column {
        margin-top: 0;

        .socials {
          display: block;
          margin-bottom: 24px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    padding: 56px 120px;
  }
}
