@import "../../styles/variables.scss";

.question_block_generator_wrapper {
  .question_block {
    border-bottom: 1px solid $main-dark-color;

    &.whiteColor {
      border-bottom: 1px solid $main-white-color;
      .question_wrapper {
        color: $main-white-color;

        .icon_wrapper {
          path {
            stroke: $main-white-color;
          }
        }
      }

      .answer_list {
        color: $main-gray-text-color;
      }
    }

    &:first-child {
      .question_wrapper {
        padding-top: 32px;
      }
    }

    .question_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 24px 0 16px;
      cursor: pointer;

      span {
        align-self: center;
        padding-right: 26px;
      }

      .icon_wrapper {
        width: 40px;
        height: 40px;
        flex-shrink: 0;

        svg {
          width: 100%;
          height: 100%;

          path {
            stroke: $main-dark-color;
          }
        }
      }
    }

    .answer_list {
      margin: 0 0 16px;

      span {
        display: inline-block;

        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }

  @media (min-width: $tablet-size) {
    .question_block {
      .question_wrapper {
        align-items: center;

        span {
          padding-right: 102px;
        }
      }

      .answer_list {
        margin-top: 6px;
        padding-right: 72px;
      }
    }
  }

  @media (min-width: $desktop-size) {
    .question_block {
      .question_wrapper {
        span {
          padding-right: 70px;
        }

        .icon_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          border: 1px solid $main-dark-color;
          border-radius: 100%;

          width: 40px;
          height: 40px;
          transition: background-color 0.4s;

          &:hover {
            background-color: $main-dark-color;

            svg {
              path {
                stroke: $main-white-color;
              }
            }
          }

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .answer_list {
        margin: 8px 0 24px;
        padding-right: 110px;
      }

      &.whiteColor {
        .question_wrapper {
          .icon_wrapper {
            border: 1px solid $main-white-color;

            &:hover {
              background-color: $main-white-color;

              svg {
                path {
                  stroke: $main-dark-color;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    .question_block {
      .answer_list {
        padding-right: 326px;
        margin-top: 16px;

        span:not(:first-child) {
          margin-top: 16px;
        }
      }

      &:first-child {
        .question_wrapper {
          padding-top: 40px;
        }
      }

      .question_wrapper {
        padding-top: 40px;

        span {
          padding-right: 57px;
        }

        .icon_wrapper {
          width: 52px;
          height: 52px;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .question_block {
      .answer_list {
        padding-right: 426px;
      }

      .question_wrapper {
        span {
          padding-right: 90px;
        }
      }
    }
  }
}
