@import "./../../styles/variables.scss";

.value_partners_block {
  // todo create class for overwriting styles
  margin-left: 0 !important;
  margin-right: 0 !important;

  .title {
    margin: 0 16px 40px;
    max-width: 248px;
  }

  .content {
    .desktop_partners_card {
      display: none;
    }

    .link_wrapper {
      width: 100%;
      max-width: 327px;
      min-height: 293px;
      padding: 16px;
      border: 1px solid $main-dark-color;
      border-radius: $card-border-radius;
      text-decoration: none;

      .partner_title {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      .partner_title > svg {
        margin-left: 3.3px;
        margin-bottom: 1px;
      }

      .partner_logo {
        width: 76px;
        margin-bottom: 24px;
      }

      .learn_more_button {
        display: none;
      }
    }
  }

  @media (min-width: $value_partner_card-tablet-breakpoint) {
    .title {
      margin: 0 24px 40px;
    }

    .content {
      .link_wrapper {
        min-height: 309px;
        padding: 32px;
      }
    }
  }

  @media (min-width: $tablet-size) {
    .title {
      max-width: 327px;
    }
  }

  @media (min-width: $desktop-size) {
    .title {
      margin: 0 80px 40px;
      max-width: none;
    }

    .content {
      .desktop_partners_card {
        display: flex;
        width: 100%;
        padding: 0 80px;
        cursor: pointer;

        .link_wrapper {
          width: 33.3%;
          max-width: none;

          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }

      .mobile_partners_card {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-large-size) {
    .title {
      margin: 0 80px 80px;
    }

    .content > .desktop_partners_card {
      .link_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 532px;
        padding: 32px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
          border: 1px solid $main-dark-color;

          .learn_more_button {
            display: block;
          }
        }

        &:not(:last-child) {
          margin-right: 24px;
        }

        .partner_logo {
          width: 114px;
          margin-bottom: 52px;
        }

        .partner_title {
          margin-bottom: 24px;
        }
      }
    }
  }

  @media (min-width: $desktop-max-size) {
    .title {
      margin: 0 120px 80px;
    }

    .content {
      .desktop_partners_card {
        padding: 0 120px;
      }
    }
  }
}
